.container {
  margin-bottom: 6em;
}

table {
  background-color: #F2F2F2;
}

img {
  height: 50px;
}

thead {
  position: sticky;
  top: 0;
}



h1 {
  text-align: center;
  padding: 1em 0;
}

#pagination {
  display: flex;
  justify-content: center;
  padding: 1em;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 3em;
}

button {
  background-color: #F2F2F2 !important;
  border: none;
  padding: 0.5em 1em;
  border-radius: 3em;
  margin: 0 0.5em;
}

button:hover {
  background-color: #E6E6E6 !important;
}

button:active {
  background-color: #D9D9D9 !important;
}

.page {
  background-color: #F2F2F2;
  border: none;
  padding: 0.5em 1em;
  border-radius: 3em;
  margin: 0 0.5em;
}

h2  {
  text-align: center;
  width: 100%;
}

#filters {
  padding: 1em;
  position: fixed;
  top: 50%;
  left: -14em;
  transform: translate(0, -50%);
  border-radius: 0 2.5em 2.5em 0;
  width: 15em;
  color: #F2F2F2;
  gap: 20px;
  /*transition and add time before go to initial position*/
  transition: left 0.5s;
}

#filters:hover {
  left: 0;
}

label {
  font-size: 1.5em;
}

.form-group {
  width: 100%;
}
